---
- name: Set architecture variable
  ansible.builtin.set_fact:
    ctop_arch: "{{ 'arm64' if ansible_facts['architecture'] in ['aarch64', 'arm64'] else 'amd64' }}"
  tags:
    - ctop

- name: Download ctop binary
  ansible.builtin.get_url:
    url: https://github.com/bcicen/ctop/releases/download/v{{ ctop_version }}/ctop-{{ ctop_version }}-linux-{{ ctop_arch }}
    dest: /usr/local/bin/ctop
    mode: '0755'
    owner: 'root'
    group: 'root'
  become: true
  tags:
    - ctop
